CLionProjects/Assg6_220/.idea/Assg6_220.iml
CLionProjects/Assg6_220/.idea/misc.xml
CLionProjects/Assg6_220/.idea/modules.xml
CLionProjects/Assg6_220/.idea/vcs.xml
CLionProjects/Assg6_220/.idea/workspace.xml
CLionProjects/Assg6_220/.idea/codeStyles/Project.xml
CLionProjects/Assg6_220/cmake-build-debug/Assg6_220.cbp
